<div class="container">
  <div class="row">
    <div class="form-group col-md-6">
      <img style="width:200px; height:200px;"
           src="../../../../../arquivos/{{produto.nomeArquivo}}" />
    </div>
    <div class="form-group col-md-6">
      <div class="row mb-4" style="color: #666">
        <h1 class="h4">{{produto.descricao}}</h1>
      </div>
      <div class="row mb-4">
        <h1 class="h4">R$ {{produto.preco}}</h1>
      </div>
      <div class="row">
        <button class="btn btn-danger btn-lg" (click)="comprar()">Comprar</button>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="form-group col-md-12" style="border: 1px solid">
        AVALIACAO MEDIA DO PRODUTO
      </div>
  </div>

  <div class="row">
    <h5 style="color: #666">Comentários</h5>
    <div class="form-group col-md-12" style="border: 1px solid">
      <div class="row">
        <div class="col-md-4" style="border: 1px solid">
          Avaliação do produto
        </div>
        <div class="col-md-8" style="border: 1px solid">
          Comentário
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="border: 1px solid">
          Usuário
        </div>
        <div class="col-md-4" style="border: 1px solid">
          Data Comentário
        </div>
      </div>
    </div>
  </div>
</div>
